

<div *ngIf="isloggedin">

        <button (click)="toggle()">click to add new task</button>
        <div *ngIf="showbutton">
        <form #form="ngForm" (ngSubmit)="submitted(form.value)">
            <label for="">Title</label>
            <input class="form-control" type="text" name="title" ngModel>
            <label for="">Description</label>
            <input class="form-control" type="text" name="description" ngModel>
            <label for="">Prioity</label>
            <input class="form-control" type="text" name="priority" ngModel>
            <button type="submit">add</button>
        </form>
        </div>
    <app-tasklist 
    (deletetaskevent)="delete($event)"
    (updatetaskevent)="update($event)"
    [tasks]="tasks"></app-tasklist>

</div>

